<html>
	<header>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<title>Notifier</title>
	</header>
	<body>
		<h1>Notifications</h1>
		{% raw %}
		<div id="app">
			<input type=text id="notification_name_box" placeholder="Notification Name" v-model="notification_name"></br>
			<input type=text id="notification_time" placeholder="Notification Time" v-model="notification_time"></br>
			<button id="notification_add_button" @click="addNotification">Add a notification</button>
			<ul id="notification_list" v-for="notification in notifications">
				{{notification.name}} - {{notification.time}}
			</ul>
		</div>
		{% endraw %}
	</body>
	<script src="{{ url_for('static', filename='index.js')}}"></script>
</html>
